@import "../../styles/variables.css";

.footer {
  padding: var(--spacing-md);
  background-color: var(--bg-color);
  border-top: var(--border-width) solid var(--border-color);
  text-align: center;
  margin-top: auto;
  color: var(--text-color);
}
