@import "../../styles/variables.css";

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: var(--spacing-xl);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
}

.inputGroup {
  margin-bottom: var(--spacing-md);
}

.inputGroup label {
  display: block;
  margin-bottom: var(--spacing-xs);
  font-weight: bold;
  color: var(--text-color);
}

.inputGroup input {
  width: 100%;
  padding: var(--spacing-sm);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--color-secondary-1);
  color: var(--text-color);
  max-width: fit-content;
}

.button {
  padding: var(--spacing-sm) var(--spacing-md);
  background-color: var(--color-primary-1);
  color: var(--color-secondary-1);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: var(--color-primary-2);
}

.error {
  color: var(--color-danger);
  margin-bottom: var(--spacing-md);
}
